.iconButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.iconButton.small {
  width: 40px;
  height: 40px;
}

.iconButton.medium {
  width: 48px;
  height: 48px;
}

.iconButton.large {
  width: 56px;
  height: 56px;
}

.iconButton:hover {
  transform: scale(1.1);
}

.iconButton:active {
  transform: scale(0.95);
}

.icon {
  display: block;
  width: 100%;
  height: 100%;
}

