.container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #000000;
}

.pageTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 2rem;
  font-weight: normal;
  margin: 0;
  z-index: 1;
}
